.footer{
        background-color: rgb(22, 95, 144);
        height: 275px;
        display: flex;
        align-items: center;
        .footer-link{
            p{
                    font-size: 12px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(255, 255, 255);
                    line-height: 1.5;
            }
            .footer-sub{
                display: flex;
                a{
                    font-size: 13px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(255, 255, 255);
                    line-height: 1.077;
                    margin-bottom: 17px;
                    margin-right: 20px;
                      
                }
                img{
                    width: fit-content;
                    height: fit-content;
                    margin-right: 20px;
                }
                
            }
            .footer-email{
                display: flex;
                align-items: baseline;
            }
            .copyright{
                position: relative;
                margin: 20px 0 30px 0;
                &::before{
                    content:'';
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        bottom: -15px;
                        width: 202px;
                        height: 1px;
                }
            }
            .social-links{
                a{
                    margin-right: 15px;
                }
            }
        }
        .footer-link2{
            margin-top: 1rem;
        }
}

@media screen and (max-width:576px){
    .footer{
        height: 100%;
        padding: 2rem 0;
        .footer-link{
            display: flex;
            flex-direction: column;
            align-items:center;
            p{
                br{
                    display: none;
                }
            }
        }
        #map{
            margin: 0px auto;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .footer{
        height: 100%;
        padding: 2rem 0;
        .footer-link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }
}