.banner{
    background-color: rgb(46, 46, 46);
    height: 273px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
            font-size: 48px;
            font-family: 'AvantGardeGothicC-Bold';
            color: rgb(255, 255, 255);
            line-height: 0.375;
            text-align: center;
    }
}

.page-title{
    h1{
            font-size: 36px;
            margin-bottom: 30px;
            font-family: "AvantGardeGothicC";
            color: rgb(27, 92, 131);
            font-weight: bold;
            line-height: 1.2;
            -moz-transform: matrix( 0.99999979333158,0.0006428286754,-0.00064291274764,0.99986902562199,0,0);
            -webkit-transform: matrix( 0.99999979333158,0.0006428286754,-0.00064291274764,0.99986902562199,0,0);
            -ms-transform: matrix( 0.99999979333158,0.0006428286754,-0.00064291274764,0.99986902562199,0,0);
    }
}
.breadcrumbs{
    padding: 50px 0 10px 0;
    .breadcrumb{
        background: transparent;
        padding-left: 0 !important;
        .breadcrumb-item{
                font-size: 14px;
                font-family: "AvantGardeGothicC";
                line-height: 1.286;
                a{
                    color: rgb(46, 46, 46) !important;
                }
        }
        .active{
            color: #005F93 !important;
        }
    }
}
.header{
    background-color: #fff;
    opacity: 0.98;
    box-shadow: 0px 4px 15.48px 2.52px rgba(0, 0, 0, 0.08);
    height: 118px;
    display: flex;
    align-items: center;

    .header-links {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                list-style-type: none;
                font-size: 14px;
                font-family: "AvantGardeGothicC";
                // font-weight: bold;
                line-height: 1.2;
                text-align: justify;
                position: relative;

                &::before {
                    content: "";
                    right: 0;
                    bottom: -10px;
                    background: rgb(22, 95, 144) ;
                    position: absolute;
                    transition: transform 0.35s ease;
                    transform: translate(-100%);
                }

                &:hover {
                    font-family: 'AvantGardeGothicC-Bold';
                    a{
                        color: rgb(22, 95, 144) !important;
                    }

                    &::before {
                        width: 80%;
                        height: 2px;
                        transform: translateX(-25%);
                    }
                }

                a {
                    color: #4A4A4C!important;
                }

                .logo {
                    img {
                        width: fit-content;
                        height: fit-content;
                    }
                }
            }
            select{
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 4px 5px 0px rgba(23, 47, 71, 0.13);
                width: 47px;
                height: 47px;
                border: none !important;
                &:focus{
                    outline: none !important;
                }
                option{
                    &:hover{
                        background-color: #165f90 !important;
                        outline: none !important;
                    }
                    &:focus{
                        outline: none !important;
                    }
                }
        }
        }
       
    }
}

@media screen and (max-width:576px) {
    .burger-menu {
        display: block;
        height: 160px;
    }
    .banner{
        h1{
            line-height: 1.6;
            font-size: 32px;
        }
    }
    .breadcrumbs{
        padding: 10px 0;
        height: 50px;
        .breadcrumb{
            padding: 0;
        }
    }
    .nav-panel-mobil {
        nav {
            ul {
                select{
                    margin: 20px auto;
                    border: 2px solid #005F93;
                    font-size: 20px;
                    font-family: 'AvantGardeGothicC';
                }
            }
        }
    }
    .burger-menu-image {
        display: block;
    }

    .burger-menu-btn {
        display: block;
        position: absolute;
        right: 1rem;
        top: 6%;
    }

    .header{
        .header-links {
            nav {
                display: none;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .burger-menu {
        display: block;
        height: 160px;
    }
    .nav-panel-mobil {
        nav {
            ul {
                select{
                    margin: 20px auto;
                }
            }
        }
    }

    .burger-menu-image {
        display: block;
        img{
            top: 1.5%;
        }
    }

    .burger-menu-btn {
        display: block;
        position: absolute;
        right: 1rem;
        top: 3.5%;
    }

    .header {
        .header-links {
            nav {
                display: none;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .solution {
        .solution-inner {
            .solution-image {
                img{
                    width: 350px !important;
                }
            }
        }
    }
}