@font-face{
    font-family: 'AvantGardeGothicC';
    src: url(../font/avantgardegothicc.otf)
}

@font-face{
    font-family: 'AvantGardeGothicC-Bold';
    src: url(../font/avantgardegothicc-bold.otf)
}