.about{
    .about-slide-bottom{
        img{
            margin: 10px 2px;
        }
        .slick-track{
            transform: translate3d(0px, 4px, 5px);
        }
    }
    .about-slider-for{
        position: relative;

        .about-slide-top{
                        position: relative;
                        width: 100%;
                        &::before{
                            content:'';
                            position: absolute;
                            background-image: url(../images/magnific-about.png);
                            width: 20px;
                            height: 20px;
                            top: 15px;
                            right: 20px;
                            z-index: 9999;
                        }
        }
        .slick-prev-about{
            position: absolute;
            top: 50%;
            z-index: 7;
            left: 20px;
        }
        .slick-next-about{
            position: absolute;
            top: 50%;
            z-index: 7;
            right: 20px;
        }
    }
    .about-content{
        margin-top:25px;
        h1{
                font-size: 30px;
                font-family: "AvantGardeGothicC";
                color: rgb(22, 95, 144);
                font-weight: bold;
                line-height: 1;
                position: relative;
                margin-bottom: 50px;
                &::before{
                    content:'';
                        background-color: rgb(22, 95, 144);
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        width: 324px;
                        height: 2px;          
                }
        }
        p{
                font-size: 16px;
                font-family: "AvantGardeGothicC";
                color: rgb(75, 75, 77);
                line-height: 1.563;
        }
    }
    .about-system-works{
        margin-bottom: 70px;
        margin-top:20px;
        h1{
            font-size: 18px;
            font-family: "AvantGardeGothicC";
            color: rgb(27, 92, 131);
            font-weight: bold;
            line-height: 1.2;
            position: relative;
            margin-bottom: 25px;
            &::before{
                content: '';
                position: absolute;
                bottom: -10px;
                    background-color: rgb(180, 61, 165);
                    width: 171px;
                    height: 3px;                  
            }
    }
    }
    .system-slider{
        .slick-prev-btn{
            top: 50%;
            left: -7%;
        }
        .slick-next-btn{
            top: 50%;
            right: -7%;
        }
        .slick-track {
            padding: 2rem 0px;
            transition: all 1.5s ease;
            display: flex;
            align-items: center;
            .slick-slide {
                width: 420px !important;
                transition: all 1.5s ease;
                z-index: -1;
                .system-slide{
                    margin-top: 20px;
                    opacity: .5;
                        
                    iframe{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .slick-current{
                width: 700px !important;
                z-index: 3 !important;
                margin: 0 -100px !important;
                .system-slide{
                    opacity: 1 !important;
                }
            }
            .slick-center {
                
                transition: all .2s ease;
                .slick-slide{
                    
                    .system-slide{
                        transform: scale(2);
                        iframe{
                            transform: scale(0.5);
                            width: 700px;
                        }
                    }
                }
                .system-slide{
                    margin-top: 0 !important;
                    iframe{
                        height: 320px;
                    }
                }
            }
        }
    }
    
    .swiper-slide-active{
        iframe{
            width: 700px !important;
            height: 320px !important;
        }
    }
    .swiper-slide{
        width: 50%;
        iframe{
            width: 500px;
            height: 190px;
        }
    }
    .system-sliders{
        .system-slide{
            // iframe{
            //     height: auto;
            // }
        }
            .slick-slide {
                // transform: scale(.6);
                
        }
        .slick-active{
            // height: 190px !important;
        }
        
        .slick-center{
            transform: scale(1);
            width: 700px !important;
            display: flex;
            justify-content: center;
            .system-slide{
                iframe{
                    height: 320px !important;
                    width: 700px !important;
                }
            }
        }
    }
}

.production{
    margin-bottom: 40px;
}

.partners-about{
    background-color: rgb(247, 248, 252);
    height: 291px;
    display: flex;
    align-items: center;
    padding-bottom: 0 !important;
}

@media screen and (max-width:576px){
    .about {
        .about-slider-for {
            .about-slide-top{
                // display: flex;
                // flex-direction: column;
            }
        }
        .system-slider {
            .slick-prev-btn{
                top: 98%;
                left: 32%;
            }
            .slick-next-btn{
                top: 98%;
                right: 30%;
            }
        }
      .slick-track {
        .slick-current{
                margin: 0 !important;
                // width: auto !important;
    
        }
      }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .about {
        .about-slide-bottom{
            img{
                width: 97%;
            }
        }
        .about-content{
            h1{
                font-size: 23px;
            }
        }
        .about-slider-for {
            .about-slide-top{
                display: flex;
                flex-direction: column;
            }
        }
        .system-slider {
            .slick-prev-btn{
                top: 98%;
                left: 40%;
            }
            .slick-next-btn{
                top: 98%;
                right: 40%;
            }
      .slick-track {
        .slick-current{
                margin: 0 -75px !important;
                // width: auto !important;
    
        }
      }
    }
    }
}

