.call-center-banner{
    background-image: url(../images/bg-call-center.png); 
    // background-position-y: 20%;
}
.call-center{
    margin-bottom: 10px;
    p{
            font-size: 16px;
            font-family: "AvantGardeGothicC";
            color: rgb(75, 75, 77);
            font-weight: bold;
            line-height: 1.563;  
            margin-bottom: 40px;        
    }
    .call-content{
        margin-bottom: 40px;
        h2{
                font-size: 18px;
                font-family: "AvantGardeGothicC";
                color: rgb(27, 92, 131);
                font-weight: bold;
                line-height: 1.2;
                position: relative;
                margin-bottom: 25px;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                        background-color: rgb(180, 61, 165);
                        width: 171px;
                        height: 3px;                  
                }
        }
        ul{
            padding: 0;
            li{
                padding-left: 30px;
                list-style-type: none !important;
                position: relative;
                font-size: 14px;
                font-family: "AvantGardeGothicC";
                color: rgb(68, 70, 71);
                line-height: 1.999;
            }
        }
        .call-left{
            h1{
                    font-size: 16px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(68, 70, 71);
                    font-weight: bold;
                    line-height: 1.563;
            }
            ul{
                li{
                    &::before{
                        content: '';
                        background-image:url(../images/check.png);
                        background-repeat: no-repeat;
                        width: 18px;
                        height: 15px;
                        position: absolute;
                        left: 0;
                        top: 8px;
                    }
                }
            }
        }
        
        .call-content-bottom{
            ul{
                li{
                    &::before{
                        content: '';
                        background-color: rgb(22, 95, 144);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 10px;
                    }
                }
            }
        }
    }
    
}


@media screen and (max-width:576px){
    .call-center-banner{
        background-position-x: 30%;
    }
    .page-title {
        h1{
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
    .call-center{
        p{
            margin-bottom: 15px;
            font-size: 14px;
        }
        .call-content{
            h2{
                font-size: 17px;
            }
            ul{
                li{
                    line-height: 1.7;
                }
            }
            .call-left{
                h1{
                    font-size: 14px;
                }
            }
            .call-right{
                img{
                    width: 100%;
                }
            }
            .call-content-bottom{
                ul{
                    margin: 0;
                    li{
                        &::before{
                            top: 6px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .call-center-banner{
        background-position-x: 10%;
    }
    .call-center {
        .call-content {
            .call-right{
              display: flex;
              justify-content: center;
            }
        }
    }
}