.contacts {
    margin-bottom: 50px;
    .contact-top {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 23.49px 3.51px rgba(0, 0, 0, 0.15);
        width: 792px;
        height: 489px;
        margin: 0 auto;
        margin-bottom: 40px;
        .contacts-left {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 489px;
            padding: 0 40px;

            h1 {
                font-size: 36px;
                font-family: "AvantGardeGothicC";
                color: rgb(27, 92, 131);
                line-height: 1.2;
            }

            .contacts-inner {
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .contacts-sub {
                    display: flex;
                    align-items: flex-start;

                    p {
                        font-size: 14px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(27, 92, 131);
                        line-height: 1.429;
                    }

                    a {
                        font-size: 14px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(27, 92, 131);
                        line-height: 1.429;
                    }
                }

                .contact-email {
                    align-items: baseline !important;
                }
            }
        }

        .contacts-right {
            display: flex;
            margin-left: 24px;
            .ggmap_contact {
                width: 372px;
                height: 489px;
            }
        }
    }

    .contacts-bottom {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 10px 23.49px 3.51px rgba(0, 0, 0, 0.15);
            width: 792px;
            height: 390px;
            margin: 0 auto;
            padding: 40px 35px 30px 55px;
           
            h1 {
                font-size: 24px;
                font-family: "AvantGardeGothicC";
                color: rgb(27, 92, 131);
                line-height: 1.2;
                margin-bottom: 0;
            }

        .contacts-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 225px;
            margin-top: 30px;
            justify-content: space-between;
            margin-right: 30px;
            input {
                border-radius: 1px;
                background-color: rgb(239, 239, 239);
                width: 292px;
                height: 58px;
                border: none;
                padding-left: 15px;
                &::placeholder{
                        font-size: 13px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(79, 79, 79);
                        line-height: 1.2;
                }
            }
            button{
                    border-radius: 7px;
                    background-color: rgb(22, 95, 144);
                    width: 249px;
                    height: 46px;
                    border: none;
                    font-size: 16px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(251, 251, 253);
                    line-height: 1.2;         
            }
        }
        .contacts-right{
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;
            textarea{
                    font-size: 13px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(79, 79, 79);
                    line-height: 1.2;
                    border-radius: 1px;
                    background-color: rgb(239, 239, 239);
                    width: 378px;
                    height: 221px;  
                    border:none;
                    resize: none;
                    padding: 24px;
            }
        }
    }
}



@media screen and (max-width:576px){
    .contacts {
        .contact-top{
            width: 100%;
            height: 100%;
            .contacts-right{
                margin: 0;
                .ggmap_contact{
                    width: fit-content;
                    margin: 0 auto;
                    height: 330px;
                    margin-bottom: 20px;
                }
            }
            .contacts-left{
                height: 350px;
            }
        }
        .contacts-bottom{
            width: 100%;
            height: 100%;
            padding: 2rem 1rem;
        }
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .contacts {
        .contact-top{
            width: 100%;
            .contacts-right{
                margin: 0;
            }
        }
        .contacts-bottom{
            width: 100%;
            .contacts-left{
                width: 100%;
                input{
                    width: 100%;
                }
                button{
                    width: 100%;
                }
            }
        }
    }
}