a:hover {
    text-decoration: none !important;
}

a:focus {
    outline: none !important;
    box-shadow: none !important;
}

.home-title {
    font-size: 26px;
    font-family: 'AvantGardeGothicC-Bold';
    color: rgb(23, 94, 142);
    // font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.more-details {
    border-radius: 7px;
    background-color: #005F93;
    width: 170px;
    height: 46px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "AvantGardeGothicC";
    color: rgb(255, 255, 255);
    line-height: 2;

    &:hover {
        color: #fff !important
    }
}

.slick-prev-btn {
    position: absolute;
    padding: 14px 22px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0px 2px 5.88px 0.12px rgba(27, 92, 131, 0.46);

    &:hover {
        background-color: #E9E9E9;
    }
}


.slick-next-btn {
    position: absolute;
    padding: 14px 22px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 3px 2px 5.88px -0.88px rgba(27, 92, 131, 0.46);

    &:hover {
        background-color: #E9E9E9;
    }
}

.header-home {
    background-color: rgb(22, 95, 144);
    opacity: 0.98;
    box-shadow: 0px 4px 15.48px 2.52px rgba(0, 0, 0, 0.08);
    height: 118px;
    display: flex;
    align-items: center;

    .header-links {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                list-style-type: none;
                font-size: 14px;
                font-family: "AvantGardeGothicC";
                // font-weight: bold;
                line-height: 1.2;
                text-align: justify;
                position: relative;

                &::before {
                    content: "";
                    right: 0;
                    bottom: -10px;
                    background: #fff;
                    position: absolute;
                    transition: transform 0.35s ease;
                    transform: translate(-100%);
                }

                &:hover {
                    font-family: 'AvantGardeGothicC-Bold';

                    &::before {
                        width: 80%;
                        height: 2px;
                        transform: translateX(-25%);
                    }
                }

                a {
                    color: rgb(255, 255, 255) !important;
                }

                .logo {
                    img {
                        width: fit-content;
                        height: fit-content;
                    }
                }
            }
            select{
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 4px 5px 0px rgba(23, 47, 71, 0.13);
                width: 47px;
                height: 47px;
                &:focus{
                    outline: none !important;
                }
                option{
                    &:hover{
                        background-color: #165f90 !important;
                        outline: none !important;
                    }
                    &:focus{
                        outline: none !important;
                    }
                }
        }
        }
    }
}

.home-banner {
    .banner-sliders {
        height: 520px;

        .slick-prev-btn {
            position: absolute;
            padding: 14px 22px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            bottom: 0;
            left: 47%;

            &:hover {
                background-color: #E9E9E9;
            }
        }

        .slick-next-btn {
            position: absolute;
            padding: 14px 22px;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            bottom: 0;
            right: 45.5%;

            &:hover {
                background-color: #E9E9E9;
            }
        }

        .banner-slide {
            background-image: url(../images/home-banner.png);
            height: 520px;
            background-position-x: center;
            background-position-y: bottom;
            position: relative;
            display: flex !important;
            align-items: center;

            &::after {
                content: '';
                background-color: rgb(25, 25, 25);
                opacity: 0.671;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .banner-content {
                position: absolute;
                z-index: 9999999999;
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;

                .banner-text {
                    p {
                        font-size: 20px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        line-height: 1.8;
                        text-align: center;
                        width: 1046px;
                    }
                }
            }

            .banner-logo {
                z-index: 2;
            }
        }
    }
}

.about-company {
    background-image: url(../images/about-banner.png);
    background-position-x: center;
    height: 385px;
    display: flex;
    align-items: center;

    .about-content {
        height: 371px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        p {
            font-size: 17px;
            font-family: "AvantGardeGothicC";
            font-weight: bold;
            line-height: 1.765;
            text-align: center;
            width: 805px;

            span {
                color: rgb(22, 95, 144);
            }
        }
    }
}

.advantages {
    background-color: #F7F8FC;
    // opacity: 0.502;   
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;

    .advantages-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        .advantages-content {
            border-radius: 7px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 6px 7px 0px rgba(23, 47, 71, 0.18);
            width: 198px;
            height: 198px;
            margin: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 60px auto 0 auto;
            padding: 0 22px;

            &:hover {
                border-radius: 7px;
                background: #9D5BA5;
                box-shadow: 0px 6px 7px 0px rgba(23, 47, 71, 0.18);
                transform: scale(1.2);

                .advantage-text {
                    p {
                        color: #fff
                    }
                }

                .advantage-image-1 {
                    &::before {
                        content: '';
                        background-image: url(../images/advantage-1-1.png);
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position-y: bottom;
                        background-position-x: center;
                    }
                }

                .advantage-image-2 {
                    &::before {
                        content: '';
                        background-image: url(../images/advantage-2-2.png);
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position-y: bottom;
                        background-position-x: center;
                    }
                }

                .advantage-image-3 {
                    &::before {
                        content: '';
                        background-image: url(../images/advantage-3-3.png);
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position-y: bottom;
                        background-position-x: center;
                    }
                }

                .advantage-image-4 {
                    &::before {
                        content: '';
                        background-image: url(../images/advantage-4-4.png);
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-repeat: no-repeat;
                        background-position-y: bottom;
                        background-position-x: center;
                    }
                }
            }

            .advantage-image {
                width: 70px;
                height: 70px;
            }

            .advantage-image-1 {
                &::before {
                    content: '';
                    background-image: url(../images/advantage-1.png);
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position-y: bottom;
                    background-position-x: center;
                }
            }

            .advantage-image-2 {
                &::before {
                    content: '';
                    background-image: url(../images/advantage-2.png);
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position-y: bottom;
                    background-position-x: center;
                }
            }

            .advantage-image-3 {
                &::before {
                    content: '';
                    background-image: url(../images/advantage-3.png);
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position-y: bottom;
                    background-position-x: center;
                }
            }

            .advantage-image-4 {
                &::before {
                    content: '';
                    background-image: url(../images/advantage-4.png);
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-repeat: no-repeat;
                    background-position-y: bottom;
                    background-position-x: center;
                }
            }

            .advantage-text {
                p {
                    font-size: 16px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(0, 0, 0);
                    line-height: 1.5;
                    text-align: center;
                }
            }
        }
    }
}


.solutions {
    margin: 60px 0 40px 0;

    .solution-info {
        display: flex;

        .solutions-slider {
            width: 88%;

            .slick-prev-btn {
                right: -6%;
                top: 30%;
            }

            .slick-next-btn {
                top: 30%;
                right: -11%;
            }

            .solution-slide {
                display: flex !important;

                .solution-image {
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 8px 24.84px 2.16px rgba(27, 92, 131, 0.15);
                    margin: 20px;
                    width: 358px;
                    height: fit-content;
                    position: relative;

                    img {
                        padding: 0.5rem 2rem;
                        opacity: 0.549;
                    }

                    span {

                        img {
                            position: absolute;
                            top: 40%;
                            opacity: 0;
                            left: 97px;
                        }
                    }

                    &:hover {
                        span {

                            img {
                                opacity: 1;
                            }
                        }
                    }

                }

                .solution-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 70px;
                    margin-bottom: 23px;
                    margin-left: 40px;

                    h1 {
                        font-size: 20px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(22, 95, 144);
                        font-weight: bold;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 16px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(75, 75, 77);
                        line-height: 1.563;
                        width: 496px;
                    }
                }
            }

        }

        .solutions-link {
            display: flex;
            align-items: flex-end;
            margin-bottom: 21px;
            margin-left: 12px;

            a {
                font-size: 15px;
                font-family: "AvantGardeGothicC";
                color: rgb(22, 95, 144);
                border-bottom: 1px solid rgb(22, 95, 144);
                line-height: 2;
                height: 25px;
            }
        }
    }
}

.certificates {
    background-image: url(../images/certificates.png);
    background-position-x: 19%;
    margin: 50px 0;
    height: 350px;
    padding: 30px 0;

    .certificates-text {

        h1 {
            font-size: 21px;
            font-family: "AvantGardeGothicC";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.429;
            padding-top: 20px;
            padding-left: 22px;
            margin-bottom: 20px;
        }

        p {
            font-size: 15px;
            font-family: "AvantGardeGothicC";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.467;
            padding-left: 22px;
        }

        ul {

            li {
                font-size: 15px;
                font-family: "AvantGardeGothicC";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 1.467;
                margin-bottom: 15px;
            }
        }
    }

    .certificates-left {
        &::before {
            content: '';
            background-color: rgb(255, 255, 255);
            position: absolute;
            right: 0;
            width: 2px;
            height: 277px;
        }
    }
}

.certificate-bottom {
    margin-bottom: 70px;

    .certificates-slider {
        padding: 0 4.05rem;

        .slick-prev-btn {
            top: 34%;
            left: 0;
        }

        .slick-next-btn {
            top: 34%;
            right: 0;
            box-shadow: 1px 2px 5.88px 1.12px rgba(27, 92, 131, 0.46) !important;
        }

        .certificate-slide {
            position: relative;
            display: flex !important;
            justify-content: center;

            span {
                img {
                    position: absolute;
                    top: 38%;
                    left: 38%;
                    opacity: 0;
                }
            }

            &:hover {
                span {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.advantages-bottom {
    margin-bottom: 60px;

    .home-title {
        margin-bottom: 60px;
    }

    .advantage-list {
        display: flex;
        justify-content: space-evenly;
        border-radius: 7px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 36.4px 3.6px rgba(23, 47, 71, 0.14);
        height: 190px;
        margin-bottom: 15px;
        padding: 30px 0;

        .advantage-list-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 130px;

            h1 {
                font-size: 16px;
                font-family: "AvantGardeGothicC";
                color: rgb(68, 70, 71);
                font-weight: bold;
                line-height: 1.25;
                text-align: left;
                // margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                font-family: "AvantGardeGothicC";
                color: rgb(68, 70, 71);
                line-height: 1.429;
                text-align: left;
                width: 403px;
                // margin-top: 10px;
            }
        }
    }
}

.key-areas {
    background-color: rgb(247, 248, 252);
    height: 1070px;
    display: flex;
    align-items: center;

    .home-title {
        margin-bottom: 60px;
    }

    .key-areas-text {
        h1 {
            font-size: 21px;
            font-family: "AvantGardeGothicC";
            color: rgb(68, 70, 71);
            font-weight: bold;
            line-height: 1.429;
            text-align: left;
        }

        p {
            font-size: 15px;
            font-family: "AvantGardeGothicC";
            color: rgb(68, 70, 71);
            line-height: 2;
            text-align: left;

            span {
                font-style: italic;
                font-weight: bold;
            }
        }
    }

    .key-areas-image {
        position: relative;
        margin-bottom: 40px;

        img {
            width: 100%;
            height: 402px;
        }

        &::before {
            content: '';
            background-color: rgb(22, 95, 144);
            opacity: 0.502;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .key-areas-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.label--checkbox {
    position: relative;
    font-size: 12px;
    font-family: 'AvantGardeGothicC';
    color: rgb(147, 147, 147);
    line-height: 1.2;
    margin: .5rem;
    cursor: pointer;
}

.checkbox {
    position: relative;
    top: rem(-6);
    margin: 0 1rem 0 0;

    cursor: pointer;

    &:before {
        transition: all .3s ease-in-out;

        content: "";

        position: absolute;
        left: 0.6px;
        top: 1px;
        z-index: 1;
        width: 1rem;
        height: 1rem;
        border: 2px solid #005F92;
    }

    &:checked {
        &:before {
            transform: rotate(-45deg);

            height: .5rem;

            border-color: #00AAE4;
            border-top-style: none;
            border-right-style: none;
        }
    }

    &:after {
        content: "";

        position: absolute;
        top: rem(-2);
        left: 0;

        width: 1.1rem;
        height: 1.1rem;

        background: #fff;
        border: 2px solid #005F92;
        cursor: pointer;
    }
}


.contacts {
    .contacts-info {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 28px 0px rgba(0, 0, 0, 0.08);
        width: 832px;
        height: 478px;
        margin: 60px auto;
        padding: 50px;

        .contacts-left {
            h1 {
                font-size: 36px;
                font-family: "AvantGardeGothicC";
                color: rgb(22, 95, 144);
                font-weight: bold;
                line-height: 1.2;
            }

            .contacts-content {
                display: flex;

                p {
                    font-size: 14px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(22, 95, 144);
                    font-weight: bold;
                    line-height: 1.429;
                }

                img {
                    margin-right: 15px;
                    width: fit-content;
                    height: fit-content;
                }
            }

            .contacts-email {
                align-items: baseline;
                display: flex;
            }
        }

        .contacts-right {
            textarea {
                border-radius: 5px;
                border: none;
                background-color: rgb(239, 239, 239);
                width: 367px;
                height: 109px;
                resize: none;
                margin-bottom: 0;
                position: relative;
                padding: 1rem;

                &:focus {
                    outline: none !important;

                }

                &::placeholder {
                    font-size: 13px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(79, 79, 79);
                    line-height: 1.2;
                    position: relative;
                }

            }

            .contact-input {
                border-radius: 8px;
                background-color: rgb(239, 239, 239);
                width: 367px;
                height: 46px;
                border: none;
                margin: 8px 0;
                padding: 1rem;

                &:focus {
                    outline: none !important;
                }

                &::placeholder {
                    font-size: 13px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(79, 79, 79);
                    line-height: 1.2;
                    position: relative;
                }

            }

            a {
                margin-top: 10px;
            }
        }
    }
}

.partners {
    padding-bottom: 100px;

    .home-title {
        position: relative;

        &::before {
            content: '';
            background-color: rgb(22, 95, 144);
            position: absolute;
            width: 72px;
            height: 2px;
            bottom: -44%;
            left: 46.5%;
        }
    }

    .partners-slider {
        padding: 0 4rem;
        padding-top: 40px;

        .slick-prev-btn {
            left: -10px;
            top: 50%;
            box-shadow: none !important;
        }

        .slick-next-btn {
            right: -10px;
            top: 50%;
            box-shadow: none !important;
        }

        .partner {
            height: 60px;
            display: flex !important;
            align-items: center;
        }
    }
}


.burger-menu {
    display: none;
}

.burger-menu-image {
    img {
        position: absolute;
        top: 3%;
        left: 1rem;
    }

    display: none;
}

.burger-menu-btn {
    width: 3rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 9;
    position: relative;
    display: none;
}

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
    position: absolute;
    width: 2rem;
    height: 5px;
    background-color: #165f90;
}

.burger-menu-lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.burger-menu-lines::after {
    content: "";
    top: -12px;
    transition: all 0.5s ease;
}

.burger-menu-lines::before {
    content: "";
    top: 12px;
    transition: all 0.5s ease;
}

.burger-menu-lines-active .burger-menu-lines {
    background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after {
    top: 0;
    transform: rotate(45deg);
}

.nav-panel-mobil {
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 8;
    transition: 0.5s;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    top: 0;
    display: flex;
    align-items: center;
}

.nav-panel-mobil {
    nav {
        ul {
            li {
                color: #165f90;
                font-family: 'AvantGardeGothicC';
            }

            select {
                width: 64px;
            }
        }
    }
}

.nav-panel-mobil-active {
    transform: translateX(0);
}

@media screen and (max-width:576px) {
    .burger-menu {
        display: block;
        height: 160px;
    }
    .nav-panel-mobil {
        nav {
            ul {
                select{
                    margin: 20px auto;
                    border: 2px solid #005F93;
                    font-size: 20px;
                    font-family: 'AvantGardeGothicC';
                }
            }
        }
    }
    .burger-menu-image {
        display: block;
    }

    .burger-menu-btn {
        display: block;
        position: absolute;
        right: 1rem;
        top: 6%;
    }

    .header-home {
        .header-links {
            nav {
                display: none;
            }
        }
    }

    .home-banner {
        .banner-sliders {
            height: 445px;
            .slick-prev-btn {
                left: 37.2%;
            }

            .slick-next-btn {
                right: 34.5%;
            }

            .banner-slide {
                background-size: cover;
                height: 445px;
                .banner-content {
                    .banner-logo {
                        img {
                            width: 230px;
                        }
                    }

                    .banner-text {
                        p {
                            font-size: 16px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .about-company {
        .about-content {
            p{
                width: 100%;
            }
        }
    }
    .advantages{
        height: 100%;
        padding: 2rem 0;
            .advantages-inner {
                .advantages-content {
                    margin: 15px auto 0 auto;
                }
            }
    }
    .solutions {
        .solution-info {
            flex-direction: column;
            .solutions-slider {
                width: 100%;
                .slick-prev-btn{
                        top: 102%;
                        right: 84%;
                }
                .slick-next-btn{
                    top: 102%;
                    right: 69%;
                }
                .solution-slide{
                    width: 100%;
                    flex-direction: column;
                    .solution-image{
                        margin: 20px auto;
                        width: 97%;
                        img{
                            padding: 0.5rem;
                            margin: 0 auto;
                        }
                    }
                    .solution-content{
                        margin-top: 30px;
                        margin-bottom: 0;
                        margin-left: 0px;
                        p{
                            width: 100%;
                        }
                    }
                }
            }
            .solutions-link{
                margin-top: 15px;
                margin-bottom: 0;
                text-align: right;
                margin-left: auto;
            }
        }
    }
    .certificates{
        height: 100%;
        .certificates-text{
            h1{
                padding-top: 15px;
            }
        }
         .certificates-left{
             &::before {
                width: 90%;
                height: 2px;
                bottom: 0;
                left: 6%;
             }
         }
         
    }
    .certificate-bottom {
        margin-bottom: 30px;
        .certificates-slider {
            padding: 0 3.05rem;
    }
    }
    .advantages-bottom {
        margin-bottom: 30px;
        .advantage-list{
            flex-direction: column;
            height: fit-content;
            align-items: center;
            margin-bottom: 15px;
            .advantage-list-text{
                width: 100%;
                height: 100%;
                h1{
                    width: 90%;
    margin: 0 auto;
                    br{
                        display: none;
                    }
                }
                p{
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
    .key-areas{
        height: 100%;
        padding: 1rem 0;
        .home-title{
            margin-bottom: 30px;
        }
        .key-areas-image {
            margin-bottom: 15px;
            img{
                height: 100%;
            }
        }
        .key-areas-text{
            h1{
                font-size: 17px;
            }
        }
    }
    .contacts {
        .contacts-info{
            width: 100%;
            height: 100%;
            padding: 20px;
            margin: 30px auto;
            .contacts-right {
                textarea{
                    width: 100%;
                }
                .contact-input{
                    width: 100%;
                }
            }
        }
    }
    .label--checkbox{
        margin: 0;
        // white-space: nowrap;
    }
    .partners {
        padding-bottom: 20px;
        .home-title{
            &::before{
                left: 39.5%;
            }
        }
        .partners-slider{
            padding: 2rem;
            .slick-prev-btn{
                top: 40%;
            }
            .slick-next-btn{
                top: 40%;
            }
            .partner{
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:350px) {
    .home-banner {
        .banner-sliders {
            .slick-next-btn {
                right: 32.5%;
                bottom: -0.2px;
            }

            .slick-prev-btn {
                left: 36.2%;
            }
        }
    }
    .solutions {
        .solution-info {
            flex-direction: column;
            .solutions-slider {
                width: 100%;
                .slick-prev-btn{
                        top: 102%;
                        right: 84%;
                }
                .slick-next-btn{
                    top: 102%;
                    right: 69%;
                }
                .solution-slide{
                    width: 100%;
                    flex-direction: column;
                    .solution-image{
                        margin: 10px auto;
                        width: 100%;
                        img{
                            width: 90%;
                            margin: 0 auto;
                            height: 100%;
                        }
                    }
                    .solution-content{
                        margin-top: 30px;
                        margin-bottom: 0;
                        margin-left: 0px;
                        p{
                            width: 100%;
                        }
                    }
                }
            }
            .solutions-link{
                margin-top: 15px;
                margin-bottom: 0;
                text-align: right;
                margin-left: auto;
            }
        }
    }
}

@media screen and (min-width:411px) and (max-width:450px) {
    .home-banner {
        .banner-sliders {
            .slick-prev-btn {
                left: 41.2%;
            }
        }
    }
}

@media screen and (min-width:375px) and (max-width:390px) {
    .home-banner {
        .banner-sliders {
            .slick-prev-btn {           
                left: 38.4%;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .burger-menu {
        display: block;
        height: 160px;
    }
    .nav-panel-mobil {
        nav {
            ul {
                select{
                    margin: 20px auto;
                }
            }
        }
    }

    .burger-menu-image {
        display: block;
        img{
            top: 1.5%;
        }
    }

    .burger-menu-btn {
        display: block;
        position: absolute;
        right: 1rem;
        top: 3.5%;
    }

    .header-home {
        .header-links {
            nav {
                display: none;
            }
        }
    }
    .home-banner {
        .banner-sliders {
            .slick-prev-btn{
                left: 44.5%;
            }
            .slick-next-btn{
                right: 42.5%;
            }
            .banner-slide {
              
                .banner-content {
                    .banner-text {
                        p{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .advantages{
        height: 100%;
        padding: 2rem 0;
        .advantages-inner{
            .advantages-content{
                width: 95%;     
                margin: 15px auto 0 auto;
            }
        }
    }
    .solutions {
        .solution-info {
            flex-direction: column;
            .solutions-slider{
                width: 100%;
                .slick-prev-btn{
                    right: 89%;
                    top: 104%;
                }
                .slick-next-btn{
                    top: 104%;
                    right: 81.5%;
                }
                .solution-slide{
                    .solution-content{
                        width: 50%;
                        margin-left: 15px;
                        margin-top: 20px;
                        p{
                            width: 100%;
                        }
                    }
                }
            }
            .solutions-link{
                justify-content: flex-end;
            }
        }
    }
    .certificates{
        padding: 0;
        .certificates-left{
            &::before{
                top: 35px;
            }
        }
    }
    .advantages-bottom{
        margin-bottom: 30px;
        .advantage-list{
            flex-direction: column;
            align-items: center;
            height: 293px;
            .advantage-list-text{
                width: 90%;
                margin: 0 auto;
                h1{
                    br{
                        display: none;
                    }
                }
                p{
                    width: 100%;
                }
            }
        }
    }
    .key-areas{
        height: 100%;
        padding: 2rem 0;
        .home-title{
            margin-bottom: 15px;
        }
    }
    .contacts {
        .contacts-info{
            width: 100%;
            height: 100%;
            margin: 30px auto;
            .contacts-right{
                textarea{
                    width: 100%;
                }
                .contact-input{
                    width: 100%;
                }
            }
        }
    }
    .about-company {
        .about-content {
            p{
                width: 100%;
            }
        }
    }
    .partners{
        padding: 15px;
        .partners-slider{
            padding: 2rem;
            .slick-next-btn{
                top: 37%;
            }
            .slick-prev-btn{
                top: 37%;
            }
            .partner{
                justify-content: center;
            }
        }
    }
}