.letters-page {
    padding-bottom: 100px;
    .letters-slider {
        .slick-next-btn{
            position: absolute;
            bottom: -70px;
            right: 38%;
            box-shadow: none;
        }
        .slick-prev-btn{
            position: absolute;
            bottom: -70px;
            left: 38%;
            box-shadow:none;
        }
        .slick-dots{
            bottom: -60px;
            li{
                button{
                        font-size: 14px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(22, 95, 144);
                        line-height: 1.286;
                        display: flex;
                        align-items: center;
                        width: 22px;
                        height: 25px;
                        justify-content: center;
                        &::before{
                            content: '';
                        }
                }
            }
            .slick-active{
                    background-color: rgb(22, 95, 144);
                    width: 23px;
                    height: 22px; 
                    button{
                        color: #fff;
                    }     
            }
        }
        .letters {
            .letters-image {
                img {
                    width: 100%;
                }

                position: relative;

                &:hover{
                    &::before {
                        content: '';
                        background-color: rgb(22, 95, 144);
                        opacity: 0.51;
                        width: 223px;
                        height: 319px;
                        position: absolute;
                        left: 16px;
                    }
                    .zoom-in-letter {
                        opacity: 1;
                    }
                }

                .zoom-in-letter {
                    position: absolute;
                    top: 30%;
                    left: 24%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    img {
                        width: 65px;
                        height: 65px;
                    }
                    p{
                            font-size: 14px;
                            font-family: "AvantGardeGothicC";
                            color: rgb(255, 255, 255);
                            line-height: 1.286;
                            margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:576px){
    .title-info{
        font-size: 33px;
        line-height: 1.1;
        &::before{
            left: 40%;
        }
    }
    .letters-page {
        .letters-slider {
            .slick-prev-btn{
                left: 4%;
            }
            .slick-next-btn{
                right: 4%;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .letters-page {
        .letters-slider {
            .slick-prev-btn{
                bottom: -70px;
                left: 29%;
            }
            .slick-next-btn{
                bottom: -70px;
                right: 30%;
            }
        }
    }
}