.partners-page {
    h1 {
        font-size: 40px;
        font-family: "AvantGardeGothicC";
        color: rgb(22, 95, 144);
        font-weight: bold;
        line-height: 0.6;
        text-align: center;
        padding-top: 50px;
        position: relative;
        margin-bottom: 30px;

        &::before {
            content: '';
            background-color: rgb(27, 92, 131);
            position: absolute;
            width: 72px;
            height: 2px;
            top: 14px;
            left: 47%;
        }
    }

    p {
        font-size: 18px;
        font-family: "AvantGardeGothicC";
        color: rgb(27, 92, 131);
        line-height: 1.389;
        text-align: center;
    }
}

.title-info {
    font-size: 40px;
    font-family: "AvantGardeGothicC";
    color: rgb(22, 95, 144);
    font-weight: bold;
    line-height: 0.6;
    text-align: center;
    padding-top: 50px;
    position: relative;
    margin-bottom: 30px;

    &::before {
        content: '';
        background-color: rgb(27, 92, 131);
        position: absolute;
        width: 72px;
        height: 2px;
        top: 14px;
        left: 47%;
    }
}


