.products-content{
    margin-bottom: 80px;
    h1{
            font-size: 16px;
            font-family: "AvantGardeGothicC";
            color: rgb(75, 75, 77);
            font-weight: bold;
            line-height: 1.563;    
    }
    p{
            font-size: 16px;
            font-family: "AvantGardeGothicC";
            color: rgb(68, 70, 71);
            line-height: 1.563; 
            margin-top: 25px;    
    }
}
.lighting-banner{
    background-position-y: 26% !important;
}

@media screen and (max-width:576px){
    .products-content{
        margin-bottom: 20px;
        p{
            margin-top: 15px;
        }
    }
    .products-banner{
        background-position-x: 21%;
    }
}