.products-banner{
    background-image: url(../images/bg-products.png);
    background-position-y: 28%;
}
.products{
    margin-bottom: 30px;
    .products-info{
        width: 100%;
        margin-bottom: 40px;
        h1{
                font-size: 18px;
                font-family: "AvantGardeGothicC";
                color: rgb(75, 75, 77);
                font-weight: bold;
                line-height: 1.2;
                text-align: left;     
                margin-bottom: 40px;     
        }
        .products-content{
            height: 276px;
            display: flex;
            align-items: flex-end;
            .products-text{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                position: relative;
                width: 100%;
                height: 93px;
                &::before{
                    content: '';
                    background-color: rgb(0, 0, 0);
                    opacity: 0.471;
                    height: 93px; 
                    width: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                }
                p{
                    font-size: 14px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(255, 255, 255);
                    line-height: 1.143;
                    text-align: left;
                    width: 202px;
                    margin-bottom: 0;
                    z-index: 2;
                }
                a{
                        border-radius: 7px;
                        background-color: #EFEFEF;
                        background-image: -ms-linear-gradient( 51deg, rgb(42,71,90) 0%, rgb(63,142,222) 100%);
                        width: 112px;
                        height: 35px;
                        font-size: 12px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(22, 95, 144);
                        line-height: 2.5;  
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 2;     
                }
            }
        }
    }
    .products-info-6{
        h1{
            margin-bottom: 19px !important;
        }
    }
}