.smart-home{
    margin-bottom: 60px;
    p{
            font-size: 16px;
            font-family: "AvantGardeGothicC";
            color: rgb(75, 75, 77);
            line-height: 1.563;
    }
    .smart-home-content{
        h1{
            font-size: 18px;
            font-family: "AvantGardeGothicC";
            color: rgb(27, 92, 131);
            font-weight: bold;
            line-height: 1.2;
            position: relative;
            margin-bottom: 25px;
            margin: 40px 0 ;
            &::before{
                content: '';
                position: absolute;
                bottom: -10px;
                    background-color: rgb(180, 61, 165);
                    width: 171px;
                    height: 3px;                  
            }
    }
    .smart-home-left{
        .smart-wrapper{
            display: flex;
            align-items: center;
            padding-right: 50px;
            margin-bottom: 30px;
           .smart-text{
            padding-left: 30px;
           }
        }
    }
    }
}

@media screen and (max-width:576px){
    .smart-home {
        .smart-home-content{
            .smart-home-right{
                img{
                    width: 100%;
                }
            }
            .smart-home-left {
                .smart-wrapper{
                    padding-right: 0;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .smart-home {
        .smart-home-content{
            .smart-home-right{
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
        }
    }
}