.solution-banner{
    background-image: url(../images/bg-solution.png);
}
.solution{
    padding-bottom: 20px;
    .solution-inner{
        display: flex;
        padding-top: 40px;
        padding-bottom: 45px;
        border-bottom: 1px solid rgb(180, 61, 165);
        .solution-image{
            img{
                width: 374px;
                height: 319px;
            }
        }
        .solution-content{
            margin-left: 30px;
            margin-top: 20px;
            h1{
                    font-size: 20px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(27, 92, 131);
                    font-weight: bold;
                    line-height: 1.2;
                    margin-bottom: 30px;
            }
            p{
                    font-size: 16px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(75, 75, 77);
                    font-weight: bold;
                    line-height: 1.563;    
            }
            span{
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(68, 70, 71);
                    line-height: 2.5;
                p{
                    color:#005F93;
                    font-size: 12px;
                    margin-bottom: 0;
                    margin-left: 3px;
                }
            }
            a{
                    font-size: 15px;
                    font-family: "AvantGardeGothicC";
                    color: rgb(22, 95, 144);
                    font-weight: bold;
                    line-height: 2;
                    text-align: left;     
                    border-bottom: 1px solid rgb(22, 95, 144);
                    padding-bottom: 7px;       
            }
        }
    }
    .solution-bottom{
        border-bottom:0 !important;
    }
}

@media screen and (max-width:576px){
    .solution{
        padding-bottom: 10px;
        .solution-inner{
            flex-direction: column;
            padding: 25px 0;
            .solution-image{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .solution-content{
                margin-left:0;
                margin-top: 10px;
                h1{
                        margin-bottom: 10px;
                }
                p{
                        font-size: 16px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(75, 75, 77);
                        font-weight: bold;
                        line-height: 1.563;    
                }
                span{
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(68, 70, 71);
                        line-height: 2.5;
                    p{
                        color:#005F93;
                        font-size: 12px;
                        margin-bottom: 0;
                        margin-left: 3px;
                    }
                }
                a{
                        font-size: 15px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(22, 95, 144);
                        font-weight: bold;
                        line-height: 2;
                        text-align: left;     
                        border-bottom: 1px solid rgb(22, 95, 144);
                        padding-bottom: 7px;       
                }
            }
        }
        .solution-bottom{
            border-bottom:0 !important;
        }
    }
}