.vacancies-page {
    margin-bottom: 70px;
    .vacancy-content {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.11);
        width: 993px;
        height: 454px;
        margin: 50px auto 0 auto;

        .vacancy-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            padding: 15px 10px;

            h1 {
                font-size: 18px;
                font-family: "AvantGardeGothicC";
                color: rgb(46, 46, 46);
                font-weight: bold;
                line-height: 1.333;
                text-align: left;
            }

            span {
                font-size: 13px;
                font-family: "AvantGardeGothicC";
                color: rgb(143, 143, 143);
                line-height: 1.692;
            }

            p {
                font-size: 16px;
                font-family: "AvantGardeGothicC";
                color: rgb(46, 46, 46);
                line-height: 1.5;
                margin-bottom: 0;
            }

            .duties-content {
                display: flex;

                .duties-right {
                    ul {
                        font-size: 15px;
                        font-family: "AvantGardeGothicC";
                        color: rgb(88, 88, 88);
                        line-height: 1.467;
                        text-align: left;
                        width: 322px;

                        li {
                            list-style-type: none;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:576px){
    .vacancies-page {
        .vacancy-content{
            width: 100%;
            height: 100%;
            .vacancy-image{
                img{
                    width: 100%;
                }
            }
            .vacancy-info{
                .duties-content{
                    flex-direction: column;
                    ul{
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .vacancies-page {
        .vacancy-content{
            width: 100%;
            height: 100%;
            .vacancy-image{
                img{
                    width: 100%;
                }
            }
            .vacancy-info{
                .duties-content{
                    flex-direction: column;
                    ul{
                        padding-left: 0;
                    }
                }
            }
        }
    }
}